.app-header {
    background-color: var(--clr1);
    color: var(--clr2bg-light);

}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container h1 {
    /* flex-grow: 1; */
}

.app-nav {
    display: flex;
    gap: 15px;
}


a.active {
    color: rgb(241, 212, 241);
    font-weight: 600;
    text-decoration: underline;
}

.header-container .container {
    gap: 15px;
}

.todos-progress {
    text-align: center;
}

.progress-bar-container {
    max-width: 250px;
    width: 20vw;
    height: 50px;
    background-color: white;
    margin-inline: .5em;
    position: relative;
    border: 5px solid white;
    border-radius: 5px;
}

.progress-bar-container div {
    background-color: rgb(98, 198, 98);
    height: 100%;
    transition: 0.4s;
    border-radius: 5px;

}


.progress-bar-container span {
    position: absolute;
    inset: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    color: rgb(8, 3, 28);
}

@media (max-width: 720px) {
    .app-header {
        color: var(--clr2bg-light);
    }
}